header {
    color: white;
    background: #37387a;
    background-image: url('../../assets/space.jpg');
    min-height: 95vh;
    /* padding-top: 20vh; */
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

img { 
    height: auto; 
    max-width: 100%; 
}

header h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
    vertical-align: middle;
}

header h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    vertical-align: middle;
    white-space: pre-line;
}

header a {
    color: #ffff;
    vertical-align: middle;
}

.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    margin: auto;
    border: 3px solid #ffff;
}

.lay2 {
    font-size: 20px; 
    /* padding: 5%;  */
}

.lay2Img {
    width: 400px; 
    height: auto; 
    padding: 3%; 
    height: 800px; 
}

.homeMid { 
    display: grid; 
    font-size: 24px; 
    grid-template-columns: 50% 50%; 
    line-height: 1.4; 
    /* margin: 2em auto 0 auto;   */
    /* max-width: 45em;  */
    /* padding: 0;  */
}

.homeMid h1 { 
    font-size: 1em; 
    margin: 4em 0 0 0; 
}

.homeMid p { 
    display: grid; 
    font-size: 15px; 
    grid-template-columns: 50% 50%; 
    line-height: 1.4; 
    margin: 2em auto 0 auto; 
    max-width: 80em; 
    /* padding: 10%;  */
}

.homeMid .button { 
    margin: 1em 0; 
}

.button { 
    background-color: #000000; 
    border: 2px solid #000000; 
    color: #ffffff; 
    display: inline-block; 
    font-size: 18px; 
    font-weight: 600; margin: 0; 
    /* padding: 12px 32px 14px 32px;  */
    text-decoration: none; 
}

.button:hover { 
    background-color: #ffffff; 
    color: #000000; 
}



footer { 
    background-color: #000000; 
    color: rgba(255, 255, 255, 0.6); 
    /* padding: 3%;  */
}