.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black
}

.logo {
    margin-left: 1rem;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.ul {
    display: flex;
    margin: 25px;
}

.item {
    display: flex;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}