* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    background-image: linear-gradient(to right, rgb(90, 0, 235) , rgb(3, 87, 212));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    color: lightgrey;
    transition: 0.5s;
}

.nav .navbarLeft{
    padding: 0;
    margin: 0;
    list-style: none;
    gap: .25rem;

    display: flex;
    position: relative;
    float: left;
}

.nav .navbarRight{
    padding: 0;
    margin: 0;
    list-style: none;
    gap: .25rem;

    display: flex;
    justify-content: right;
    position: relative;
}

.logo {
    align-items: center;
    margin-bottom: .5rem;
    color: white;
    font-size: 35px;
    font-weight: bolder;
}